html, body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #ffff;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}

.title {
    margin: 20px 0;
}

.title .left{
    text-align: end;
}

.title h1  {
    margin: 0;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-size: 48px;
    width: 100%;
    font-weight: 900;
    color: #08d4c6;
}



textarea {
    background-color: transparent;
    border-radius: 10px;
    border: 3px solid #ffe4c4;
    resize: none;
    font-family: 'Poppins', sans-serif;
    padding: 5px 10px;
    font-size: 15px;
    
}

textarea:focus {
    outline: none !important; 

}

button {
    width: 100%;
    background-color: #dec4ff;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    padding: 20px 0;
    font-size: 16px;
    font-weight: 900;
    color: #141919;
    cursor: pointer;
}

button:hover {
    background-color: rgb(222, 196, 255, 0.6);
}

ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    color: black;
    list-style-type: none;
}

ul li {
    width: inherit;
    background-color: #e4ffc4;
    padding: 10px 10px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 8px;
}

ul li:hover {
    background-color: rgb(228, 255, 196, 0.7) ;
}

